{% extends 'base.html' %}
{% block title %}
    Пример поста
{% endblock %}
{% block content %}
    <section class="order">
        {% for post in posts %}
            <h3>{{ post.topic }}</h3>
            <p> {{ post.text }}</p>
            <br>
            <br>
            <br>
            <br>
            <div>Комментарии( {{ post.comments.count }}):</div>
            {% for comment in post.comments.all %}
                {% if comment.approved %}
                <p>
                    <h4>
                    {{ comment.text }}
                    </h4>
                    <p>

                    </p>
                <span> {{ comment.author }}</span>
                </p>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </section>
{% endblock %}
